label {
  font-size: 2em;
  margin-bottom: 8px;
}

p {
  font-size: $medium-font;
}

h1 {
  font-size: $large-font;
  text-align: $text-align;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: $large-font;
  text-align: $text-align;
  color: #d44a1e;
}
