// @import '_variables';
// @import '_containers';
// @import '_interactions';
// @import '_text';
// @import '_cards';
// @import '_mediaquery';


$primary-background: linear-gradient(#005AA7, #FFFDE4);
$section-color: linear-gradient(#232526, #414345);
$display: flex;
$text-align: center;
$medium-font: 30px;
$large-font: 40px;

body { //in file
  background: $primary-background;
  background-attachment: fixed;
  color: #FFC107;

    header {
      border-radius: 25px;
      background: $section-color;
        .top-header,
        .bottom-header {
          display: $display;
          justify-content: space-between;
        }
    }

    form {
      display: $display;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-radius: 25px;
      background: $section-color;
      margin: 40px 4% 0px 4%;
    }

    section {
      margin-top: 2%;
    }
}


label { //in file
  font-size: 2em;
  margin-bottom: 8px;
}

select { //in file
  font-size: 115%;
  margin-bottom: 25px;
}

p { //in file
  font-size: $medium-font;
}

.username-input,//in file
.password-input,
.date-input,
.duration-input,
.travelers-amount-input {
  font-size: $medium-font;
  margin-bottom: 25px;
}

.check-price,//in file
.book-trip,
.submit-login,
.logout {
  font-size: 18pt;
  color: white;
  font-weight: bold;
  border: solid 3px #7375B5;
  border-radius: 5px;
  background-color: #512DA8;
  cursor: pointer;
  margin-top: 2%;
}

button:hover, //in file
.check-price:hover,
.book-trip:hover,
.submit-login:hover,
.logout:hover {
  background-image: linear-gradient(#8e2de2, #4a00e0);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  background-attachment: fixed;
}

h1 { // in file
  text-align: $text-align;
  font-size: $large-font;
}

h2 { // in file
  font-size: 35px;
}

h3 { // in file
  font-size: $large-font;
  text-align: $text-align;
  color: #d44a1e;
}



.destination-img { //in file
  max-width: 50%;
  max-height: 10%;
  margin-top: 20px;
}

.card { //in file
  text-align: $text-align;
  margin: 40px 4% 0px 4%;
  border-radius: 25px;
  background: $section-color;
}

.hidden { //in file
  display: none;
}

@media screen and (max-width: 1000px) { //in file
  .logout {
    margin: 50px 1px 50px 1px;
  }
}
